# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
venv/
.venv/

# Environment variables
.env

# Build outputs
dist/
build/

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

archive/
